.navbar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar.dark {
  background-color: #1b2631; /* Darker grey for dark mode */
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin-bottom: 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}

.nav-item {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #000000;
  border-radius: 3px;
  text-align: center;
  transition: all 0.3s ease; /* Smooth transition */
  margin: 10px 0; /* Add spacing between buttons */
}

.nav-item:hover {
  transform: scale(1.2); /* Enlarge on hover */
  background-color: #e74c3c; /* Red */
}

.dark-mode-switch {
  margin-top: 20px;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}