body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body.dark-mode {
  background-color: #1e1e1e; /* Dark background */
  color: #dcdcdc; /* Light text */
}

.app-container {
  display: flex;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Adjust based on navbar width */
  margin-right: 250px; /* Adjust based on sidebar width */
}

.games-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.game-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

body.dark-mode .game-card {
  background: #333; /* Dark grey */
  color: #dcdcdc; /* Light text */
}

.game-card img {
  width: 100%;
  border-radius: 8px;
}

.game-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

body.dark-mode .game-card h3 {
  color: #dcdcdc; /* Light text */
}

.game-card p {
  font-size: 14px;
  color: #666;
}

body.dark-mode .game-card p {
  color: #dcdcdc; /* Light text */
}

@media (max-width: 768px) {
  .games-grid {
    flex-direction: column;
    align-items: center;
  }
}

.home-container .info-card {
  margin-bottom: 20px; /* Add spacing between messages */
}
